[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
flask-wtf = "*"
flask-login = "*"
flask-mail = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
